os: osx
language: cpp
osx_image: xcode7.3
compiler: clang
cache: ccache

branches:
  only:
  - classic

before_install:
- export COLUMNS=80
- wget https://raw.githubusercontent.com/aeiouaeiouaeiouaeiouaeiouaeiou/macports-ci/master/macports-ci
- chmod +x ./macports-ci
- ./macports-ci install
- export PATH=/opt/local/bin:/opt/local/sbin:$PATH

before_script:
- sudo port -N install autoconf213 ccache gmake gnutar pkgconfig yasm
- curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain 1.45.1-x86_64-apple-darwin
- export PATH=$PATH:~/.cargo/bin

script:
- ./mach build
- ./mach package
